#r1-c1 {
  float: left;
  width: 20%;
}

#r1-c2{
  float: left;
  width: 20%;
}

#r1-c3{
  float: left;
  width: 20%;
}

#r2-c1 {
  float: left;
  width: 20%;
}

#r2-c2{
  float: left;
  width: 20%;
}

#r2-c3{
  float: left;
  width: 20%;
}

.div1{
  height: 400px;
  position: relative;
  top: 50px;
}

.div2 {
  height: 400px;
  position: relative;
}
